<%- include('partials/head')%>

    <body>
        <%- include('partials/navbar') %>

		<section class="home-products-section">
            <h2 class="home-h2">Live auction Products</h2>
            
            <div class="container2">
                
                <% for(let product of products) { %>
                    <% if(product.isLive != false && product.isCompleted == false){ %> 
                        <div class="square-blocks">
                            <a href="/products/<%= product._id %>"><img src= "<%= product.imgLink %>" > </a>
                            
                            <a href="/products/<%= product._id %>"> <h3  class="product-name"><%= product.name %></h3> </a>
                            <div class="date-price-div">
                                <p >End Date: <%= product.endDate %></p>
                                <p >Price: <%= product.price %></p>
                            </div>
                        </div>
                        <% } %> 
                <% } %>
            </div>
        </section>

		<section class="home-products-section">
            <h2 class="home-h2">Upcomming auction Products</h2>
            
            <div class="container2">
                <% for(let product of products) { %>
                    <% if(product.isLive == false && product.isCompleted == false){ %> 
                        <div class="square-blocks">
                            <a href="/products/<%= product._id %>"><img src= "<%= product.imgLink %>" ></a>
                            <a href="/products/<%= product._id %>"> <h3 class="product-name"><%= product.name %></h3> </a>
                            <div class="date-price-div">
                                <p >End Date: <%= product.startDate %></p>
                                <p >Price: <%= product.price %></p>
                            </div>
                        </div>
                    <% } %> 
                <% } %>
            </div>
        </section>

		<section class="home-products-section">
            <h2 class="home-h2">Previous auction Products</h2>
            
            <div class="container2">
                <% for(let product of products) { %>
                    <% if(product.isLive == false && product.isCompleted != false){ %> 
                        <div class="square-blocks">
                            <a href="/products/<%= product._id %>"><img src= "<%= product.imgLink %>"  ></a>
                            <a href="/products/<%= product._id %>"> <h3  class="product-name"><%= product.name %></h3> </a>
                            <div class="date-price-div">
                                <p >End Date: <%= product.endDate %></p>
                                <p >Price: <%= product.price %></p>
                            </div>
                        </div>
                    <% } %> 
                <% } %>
            </div>
        </section>

	</body>

<%- include('partials/foot')%>