<%- include('partials/head')%>


    <body>
        <%- include('partials/navbar') %>

		<section class="live-products-section">
            <h2>Live auction Products</h2>
            
            <div class="container2">
                
                <% for(let product of products) { %>
                    <% if(product.isLive != false && product.isCompleted == false){ %> 
                        <div class="square-blocks">
                            <a href="/products/<%= product._id %>"><img src="/images/test"></a>
                            <a href="/products/<%= product._id %>"> <h3  class="product-name"><%= product.name %></h3> </a>
                            <p ><%= product.endDate %></p>
                            <p ><%= product.price %></p>
                        </div>
                        <% } %> 
                <% } %>
            </div>
        </section>

		<section class="upcomming-products-section">
            <h2>Upcomming auction Products</h2>
            
            <div class="container2">
                <% for(let product of products) { %>
                    <% if(product.isLive == false && product.isCompleted == false){ %> 
                        <div class="square-blocks">
                            <a href="/products/<%= product._id %>"><img src="/images/test"></a>
                            <a href="/products/<%= product._id %>"> <h3  class="product-name"><%= product.name %></h3> </a>
                            <p ><%= product.startDate %></p>
                            <p ><%= product.price %></p>
                        </div>
                    <% } %> 
                <% } %>
            </div>
        </section>

		<section class="previous-products-section">
            <h2>Previous auction Products</h2>
            
            <div class="container2">
                <% for(let product of products) { %>
                    <% if(product.isLive == false && product.isCompleted != false){ %> 
                        <div class="square-blocks">
                            <a href="/products/<%= product._id %>"><img src="/images/test"></a>
                            <a href="/products/<%= product._id %>"> <h3  class="product-name"><%= product.name %></h3> </a>
                            <p ><%= product.endDate %></p>
                            <p ><%= product.price %></p>
                        </div>
                    <% } %> 
                <% } %>
            </div>
        </section>

        
        
	</body>

<%- include('partials/foot')%>