<%- include('partials/head')%>

    <body>
        <%- include('partials/navbar') %>

        <form action="/product" method="POST">
            <label for="name">Name of the Product <sup>*</sup></label>
            <input  type="text" name="product[name]" id="name" placeholder="Product Name">

            <label for="description">Product description <sup>*</sup></label>
            <textarea  name="product[description]" id="description" cols="30" rows="4"></textarea>
            
            <!-- <label for="productImg">Select an image of the product <sup>*</sup></label>  <%#TODO: Take the user input for an image %> 
            <input  type="file" name="productImg" id="productImg"> -->
            
            <br>
            <label for="price">Starting price <sup>*</sup></label>
            <input type="number" name="product[price]" id="price" placeholder="In Rs" min=100>
            
            <label for="shipping">Shipping Charges <sup>*</sup></label>
            <input type="number" name="product[shipping]" id="shipping" placeholder="In Rs" min=0>

            <label for="increment">Price increment <sup>*</sup></label>
            <input  type="number" name="product[increment]" id="increment" placeholder="In Rs" min=1>

            <label for="deliver">Delivery days details<sup>*</sup></label>
            <input type="text" name="product[deliver]" id="deliver" placeholder="Days to deliver">
            <br>
            <br>
            <label for="startDate">Start Date and Time</label>   <%# if not mentioned it will take the current date  %> 
            <input type="datetime-local" id="startDate" name="product[startDate]" min="<%= new Date().toISOString().slice(0,10)%>T00:00">

            <label for="endDate">End Date and Time<sup>*</sup></label>
            <input  type="datetime-local" id="endDate" name="product[endDate]" min="<%= new Date().toISOString().slice(0,10)%>T01:00">

            <br>
            <button type = 'submit' class="mt-2">Create new Auction</button>

        </form>
    </body>

<%- include('partials/foot')%>