<%- include('partials/head')%>

    <body>
        <%- include('partials/navbar') %>
        
        <section class="product-heading">
            
            <h3> <%= product.name %> </h3>
            <div class="product-price-date">
                <h3>Current price: <%= product.price %> </h3>
                <div class = "product-date">
                    <p>startDate: <%= product.startDate %></p>
                    <p>endDate: <%= product.endDate %></p>
                </div>
            </div>
            <h3 class="time-remaining-h3"><span id="startEndTimerH3"></span> <span class="remainingTime" id="remainingTime"></span></h3>
        </section>

        <section class="details-section">
            <img src="/uploads/productImages/<%= product.image %>" alt="">  <%# TODO: show product image on left side %> 
            
            <div class="enclosed">
                <div class="details-div">
                    <div class="product-description">
                        <h3>Product Description</h3>
                        <p> <%= product.description %>  </p>
                    </div>
                    <div>
                        <h3>Seller Description</h3>
                        <p> <%# seller.sellerDetails %>  </p>  <%# TODO: seller description %> 
                    </div>
                </div>
                <div class="details-div2">
                    <h2 class="bid-info">Bid information</h2>
                    <p>Bid status :</p>
                    <p>Sale status :</p>
                    <p>Current Bid price: <%= product.price %> </p>

                    <form action="/products/<%= product.id %>" method="POST">
                        <label for="bid" >Enter ammount: <input type="number" name="bid" id="bid" placeholder="Minimum <%= product.increment %> "></label>
                        
                        <button id = "placeBidBtn">Place Bid</button>
                    </form>
                </div>
            </div>

        </section>

        <script>
            // Set the date we're counting down to
            const endDate = new Date("<%= product.endDate%> <%= product.endTime%>" ).getTime();
            const startDate = new Date("<%= product.startDate %> <%= product.startTime %>").getTime();
            // Get today's date and time
            let now = new Date().getTime();

            function getTimer(date){

                // Update the count down every 1 second
                var x = setInterval(function() {
                    now = new Date().getTime();     // This has to be here to calculate the difference btw the present time and the end date

                    // Find the distance between now and the count down date
                    var distance = date - now;
                    
                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    
                    // Display the result in the element with id="remainingTime"
                    document.getElementById("remainingTime").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
                    
                    // The count down is finished
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("remainingTime").innerHTML = "EXPIRED";
                        document.getElementById("placeBidBtn").disabled = true;
                        document.getElementById("bid").disabled = true;
                    }

                }, 1000);
            }

            if(startDate < now && endDate > now){  //Check if the date is in between the current time 
                document.getElementById("startEndTimerH3").innerHTML = "Time to end: ";
                getTimer(endDate);

            }else if(startDate > now && endDate > now){     // Upcomming product
                //DONE: get the timer to work again without repeating the code
                document.getElementById("startEndTimerH3").innerHTML = "Time to start: ";
                getTimer(startDate);
                document.getElementById("bid").disabled = true;
                document.getElementById("placeBidBtn").disabled = true;
            }else{   // Old/Previous product
                document.getElementById("remainingTime").innerHTML = "Auction EXPIRED";
                document.getElementById("bid").disabled = true;
                document.getElementById("placeBidBtn").disabled = true;
            }
        </script>
    </body>

<%- include('partials/foot')%>