<%- include('partials/head')%>

<body>

    <%- include('partials/navbar') %>

    <section class="userDetails-section">
        <div>
            <!-- <img src="user.img" alt=""> -->   <%#  TODO: add a user image here %> 
            <p>User Name: <%= user.name %> </p>
            <p>User number: <%= user.phoneNo %> </p>
            <p>User email: <%= user.email %> </p>
        </div>
        <div>
            <p>Type: </p>
            <% if(user.isSeller){ %> 
                <p>seller</p>
                <a href="/new">Create a new product</a>
            <% }else{ %> 
                <p>user</p>
            <% } %> 
        </div>
        <div>
            <h3>First Signup date: <%= user.firstLoginDate %></h3>  <%# TODO: reduce the login date %> 
        </div>

        <div class="auctions-won-div">
            <h3>Total auctions won</h3>
            <% let count = 0; %> 
            <% for(let product of user.productsBought){ %> 
                <% count++; %> 
            <% } %>
            <p><%= count %> </p>
        </div>

    </section>

    <section class="userDetails-info-section">
            <div class="userDetails-panel">
                <ul>
                    <li class="current"><p>View profile</p></li>
                    <li><p>Edit address</p></li>
                    <li><p>Change password</p></li>
                    <li><p>Bid logs</p></li>
                    <li><p>Previous Transactions</p></li>
                    <li>
                        <form action="/logout" method="post">
                            <button class= "logoutButton" >Logout</button>
                        </form>
                    </li>
                </ul>
            </div>

        <div>
            <div class="userDetails-top-div">
                <p class="items">profule pic</p>
                <button class="items" >Upload image</button>
                <button class="items" >Edit your details</button>
        </div>

        <div class="col-8 offset-2">
            <form class="register-form row g-3 needs-validation" action="/signup" method="post" novalidate >
                <div class="col-md-3 mt-2">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" name="user[firstName]" value = '<%= user.name%>' disabled class="form-control" id="firstName" required> 
                </div>

                <div class="col-md-3 mt-2">
                    <label for="username" class="form-label">Enter a username</label>
                    <input type="text" disabled value = '<%= user.username %>' name="user[username]" class="form-control" id="username" required> 
                </div>
                <div class="col-md-4 mt-2">
                    <label for="validationCustomEmail" class="form-label">Email</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="email" name="user[email]" disabled value = '<%= user.email %>' class="form-control" id="validationCustomEmail"
                            aria-describedby="inputGroupPrepend" required> 
                        <div class="invalid-feedback">Please choose a valid Email address.</div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <label for="city" class="form-label">City</label>
                    <input type="text" disabled value = '<%= user.addresses[0].city %>' class="form-control" id="city" name="addresses[city]" required> 
                    <div class="invalid-feedback">Please provide a valid city.</div>
                </div>
                <div class="col-md-2">
                    <label for="street" class="form-label">Street</label>
                    <input type="text" disabled value = '<%= user.addresses[0].street %>' class="form-control" id="street" name="addresses[street]" required> 
                    <div class="invalid-feedback">Please provide a valid street.</div>
                </div>
                <div class="col-md-2">
                    <label for="state" class="form-label">State</label>
                    <input type="text" disabled value = '<%= user.addresses[0].state %>' class="form-control" id="state" name="addresses[state]" required> 
                    <div class="invalid-feedback">Please provide a valid State.</div>
                </div>
                <div class="col-md-2">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" disabled value = '<%= user.addresses[0].country %>' class="form-control" id="country" name="addresses[country]" required> 
                    <div class="invalid-feedback">Please provide a valid country.</div>
                </div>
                <div class="col-md-2">
                    <label for="landmark" class="form-label">Landmark</label>
                    <input type="text" disabled value = '<%= user.addresses[0].landmark %>' class="form-control" id="landmark" name="addresses[landmark]" >
                </div>
                <div class="col-md-3 mt-2">
                    <label for="zipCode" class="form-label">Zip Code</label>
                    <input type="number" disabled value = '<%= user.addresses[0].zipCode %>' class="form-control" id="zipCode" name="addresses[zipCode]" min = "100000" max="999999" required> 
                    <div class="invalid-feedback">Please provide a valid zipcode.</div>
                </div>
                <div class="col-md-3 mt-2">
                    <label for="phoneNo" class="form-label">Phone Number</label>
                    <input type="number" disabled value = '<%= user.phoneNo %>' class="form-control" id="phoneNo" name="user[phoneNo]" min="1000000000" max="9999999999" required> 
                    <div class="invalid-feedback">Please provide a valid phone number.</div>
                </div>
                
            </form>
        </div>
    </section>

</body>

<%- include('partials/foot')%>