<%- include('partials/head')%>

<body>

    <%- include('partials/navbar') %>

    <script>
        //used in userDetails.ejs page
        function viewProfile() {
            //remove the previous form first
            removePrevForm();

            const formDiv = document.querySelector('#form-div');

            formDiv.innerHTML = `
                <form class="register-form row g-3 needs-validation" action="/signup?_method=PATCH" method="post" novalidate >
                    <div class="col-md-3 mt-2">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="user[name]" value = '<%= user.name%>' disabled class="form-control" id="name" required> 
                    </div>

                    <div class="col-md-3 mt-2">
                        <label for="username" class="form-label">Enter a username</label>
                        <input type="text" disabled value = '<%= user.username %>' name="user[username]" class="form-control" id="username" required> 
                    </div>
                    <div class="col-md-4 mt-2">
                        <label for="validationCustomEmail" class="form-label">Email</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="email" name="user[email]" disabled value = '<%= user.email %>' class="form-control" id="validationCustomEmail"
                                aria-describedby="inputGroupPrepend" required> 
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <label for="city" class="form-label">City</label>
                        <input type="text" disabled value = '<%= user.addresses[0].city %>' class="form-control" id="city" name="newAddress[city]" required> 
                    </div>
                    <div class="col-md-2">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" disabled value = '<%= user.addresses[0].street %>' class="form-control" id="street" name="newAddress[street]" required> 
                    </div>
                    <div class="col-md-2">
                        <label for="state" class="form-label">State</label>
                        <input type="text" disabled value = '<%= user.addresses[0].state %>' class="form-control" id="state" name="newAddress[state]" required> 
                    </div>
                    <div class="col-md-2">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" disabled value = '<%= user.addresses[0].country %>' class="form-control" id="country" name="newAddress[country]" required> 
                    </div>
                    <div class="col-md-2">
                        <label for="landmark" class="form-label">Landmark</label>
                        <input type="text" disabled value = '<%= user.addresses[0].landmark %>' class="form-control" id="landmark" name="newAddress[landmark]" >
                    </div>
                    <div class="col-md-3 mt-2">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="number" disabled value = '<%= user.addresses[0].zipCode %>' class="form-control" id="zipCode" name="newAddress[zipCode]" min = "100000" max="999999" required> 
                    </div>
                    <div class="col-md-3 mt-2 hide-divs">
                        <label for="phoneNo" class="form-label">Phone Number</label>
                        <input type="number" disabled value = '<%= user.phoneNo %>' class="form-control" id="phoneNo" name="user[phoneNo]" min="1000000000" max="9999999999" required> 
                    </div>
                </form>
            `;
        }

        //used in userDetails.ejs page
        function editAddress() {
            //remove the form div first
            removePrevForm();

            const formDiv = document.querySelector('#form-div');
            formDiv.innerHTML = `
                <form class="register-form row g-3 needs-validation" action="/signup?_method=PATCH" method="post" novalidate >

                    <div class="col-md-2">
                        <label for="city" class="form-label">City</label>
                        <input type="text" value = '<%= user.addresses[0].city %>' class="form-control" id="city" name="newAddress[city]" required> 
                        <div class="invalid-feedback">Please provide a valid city.</div>
                    </div>
                    <div class="col-md-2">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" value = '<%= user.addresses[0].street %>' class="form-control" id="street" name="newAddress[street]" required> 
                        <div class="invalid-feedback">Please provide a valid street.</div>
                    </div>
                    <div class="col-md-2">
                        <label for="state" class="form-label">State</label>
                        <input type="text" value = '<%= user.addresses[0].state %>' class="form-control" id="state" name="newAddress[state]" required> 
                        <div class="invalid-feedback">Please provide a valid State.</div>
                    </div>
                    <div class="col-md-2">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" value = '<%= user.addresses[0].country %>' class="form-control" id="country" name="newAddress[country]" required> 
                        <div class="invalid-feedback">Please provide a valid country.</div>
                    </div>
                    <div class="col-md-2">
                        <label for="landmark" class="form-label">Landmark</label>
                        <input type="text" value = '<%= user.addresses[0].landmark %>' class="form-control" id="landmark" name="newAddress[landmark]" >
                    </div>
                    <div class="col-md-3 mt-2">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="number" value = '<%= user.addresses[0].zipCode %>' class="form-control" id="zipCode" name="newAddress[zipCode]" min = "100000" max="999999" required> 
                        <div class="invalid-feedback">Please provide a valid zipcode.</div>
                    </div>

                    <div class="col-12 mt-3">
                        <button class="btn btn-primary" type="submit" >Submit form</button>
                    </div>
                    
                </form>`;
        }

        //used in userDetails.ejs page
        function changePassword(){
            //remove the form div first
            removePrevForm();

            const formDiv = document.querySelector('#form-div');
            // add the password form
            formDiv.innerHTML= `
                <form class="register-form row g-3 needs-validation" action="/changePassword?_method=PATCH" method="post">

                    <div class="col align-self-center mt-2">
                        <label for="password" class="form-label">Enter your old Password</label>
                        <input type="text" name="user[password]" class="form-control" id="password" required>
                        <div class="invalid-feedback">Enter a Password</div>
                    </div>

                    <div class="w-100 mb-4"></div>
                    <div class="w-100 mb-4"></div>

                    <div class="col align-self-center mt-2">
                        <label for="password" class="form-label">Enter the new password</label>
                        <input type="text" name="user[newPassword1]" class="form-control" id="password" required>
                        <div class="invalid-feedback">Enter a Password</div>
                    </div>

                    <div class="w-100 mb-4"></div>

                    <div class="col align-self-center mt-2">
                        <label for="password" class="form-label">Enter Password again</label>
                        <input type="text" name="user[newPassword2]" class="form-control" id="password" required>
                        <div class="invalid-feedback">Enter a Password</div>
                    </div>

                    <div class="col-12 mt-3">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>

                </form>`;
        }
        function bidLogs(){         //TODO: Create the bid logs module
            //remove the form div first
            removePrevForm();
            
            const formDiv = document.querySelector('#form-div');
            // add the password form
            formDiv.innerHTML= `

            `;

        }
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
            console.log(forms);
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>

    <section class="userDetails-section">
        <div>
            <!-- <img src="user.img" alt=""> -->   <%#  TODO: add a user image here %> 
            <p>User Name: <%= user.name %> </p>
            <p>User number: <%= user.phoneNo %> </p>
            <p>User email: <%= user.email %> </p>
        </div>
        <div>
            <p>Type: </p>
            <% if(user.isSeller){ %> 
                <p>seller</p>
                <a href="/seller/newProduct">Create a new product</a>
            <% }else{ %> 
                <p>user</p>
            <% } %> 
        </div>
        <div>
            <h3>First Signup date: <%= user.firstLoginDate %></h3>  <%# TODO: reduce the login date %> 
        </div>

        <div class="auctions-won-div">
            <h3>Total auctions won</h3>
            <% let count = 0; %> 
            <% for(let product of user.productsBought){ %> 
                <% count++; %> 
            <% } %>
            <p><%= count %> </p>
        </div>

    </section>

    <section class="userDetails-info-section">
        <div class="userDetails-panel">
            <ul>
                
                <li><button onclick="viewProfile(), changeCurrent('viewProfile')" class="current viewProfile">View profile</button></li>
                <li><button  onclick="editAddress(), changeCurrent('editAddress')" class="notCurrent editAddress">Edit address</button></li>
                <li><button  onclick="changePassword(), changeCurrent('changePassword')" class="notCurrent changePassword">Change password</button></li>
                <li><button  onclick="changeCurrent('logs')" class="notCurrent logs">Bid logs</button></li>
                <li><button  onclick="changeCurrent('prevTransactions')" class="notCurrent prevTransactions">Previous Transactions</button></li>

                <li class="last-li">
                    <form action="/logout" method="post">
                        <button class= "logoutButton" >Logout</button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="userDetails-big-div">
            <div class="userDetails-top-div">
                <p class="items">profile pic</p>
                <button class="items" type="file" >Upload image</button>
                <button class="items" >Edit your details</button>
            </div>

            <div class="col-8 offset-2 " id="form-div">
                <form class="register-form row g-3 needs-validation" action="/signup?_method=PATCH" method="post" novalidate >
                    <div class="col-md-3 mt-2 hide-divs">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="user[name]" value = '<%= user.name%>' disabled class="form-control" id="name" required> 
                    </div>

                    <div class="col-md-3 mt-2 hide-divs">
                        <label for="username" class="form-label">Enter a username</label>
                        <input type="text" disabled value = '<%= user.username %>' name="user[username]" class="form-control" id="username" required> 
                    </div>
                    <div class="col-md-4 mt-2 hide-divs">
                        <label for="validationCustomEmail" class="form-label">Email</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="email" name="user[email]" disabled value = '<%= user.email %>' class="form-control" id="validationCustomEmail"
                                aria-describedby="inputGroupPrepend" required> 
                            <div class="invalid-feedback">Please choose a valid Email address.</div>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <label for="city" class="form-label">City</label>
                        <input type="text" disabled value = '<%= user.addresses[0].city %>' class="form-control" id="city" name="newAddress[city]" required> 
                        <div class="invalid-feedback">Please provide a valid city.</div>
                    </div>
                    <div class="col-md-2">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" disabled value = '<%= user.addresses[0].street %>' class="form-control" id="street" name="newAddress[street]" required> 
                        <div class="invalid-feedback">Please provide a valid street.</div>
                    </div>
                    <div class="col-md-2">
                        <label for="state" class="form-label">State</label>
                        <input type="text" disabled value = '<%= user.addresses[0].state %>' class="form-control" id="state" name="newAddress[state]" required> 
                        <div class="invalid-feedback">Please provide a valid State.</div>
                    </div>
                    <div class="col-md-2">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" disabled value = '<%= user.addresses[0].country %>' class="form-control" id="country" name="newAddress[country]" required> 
                        <div class="invalid-feedback">Please provide a valid country.</div>
                    </div>
                    <div class="col-md-2">
                        <label for="landmark" class="form-label">Landmark</label>
                        <input type="text" disabled value = '<%= user.addresses[0].landmark %>' class="form-control" id="landmark" name="newAddress[landmark]" >
                    </div>
                    <div class="col-md-3 mt-2">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="number" disabled value = '<%= user.addresses[0].zipCode %>' class="form-control" id="zipCode" name="newAddress[zipCode]" min = "100000" max="999999" required> 
                        <div class="invalid-feedback">Please provide a valid zipcode.</div>
                    </div>
                    <div class="col-md-3 mt-2 hide-divs">
                        <label for="phoneNo" class="form-label">Phone Number</label>
                        <input type="number" disabled value = '<%= user.phoneNo %>' class="form-control" id="phoneNo" name="user[phoneNo]" min="1000000000" max="9999999999" required> 
                        <div class="invalid-feedback">Please provide a valid phone number.</div>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>

</body>

<%- include('partials/foot')%>